body {
  padding: 0;
  margin: 0 0 200px 0;
}
.hero {
  display: inline-block;
  width: 100%;
  height: 500px;
  position: relative;
}

#header {
  background: url(./images/Screen\ Shot\ 2020-11-05\ at\ 9.17.32\ PM.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-size: cover;
}
.name {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  padding-top: 5.5%;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  line-height: 3;
}

.column {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.wrap {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 25px;
  color: black;
  text-decoration-line: underline;
}

.diagonal-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: -1;
}

.tabs {
  align-items: flex-start;
  display: block;
}
div.projCal {
  transform: scale(1.25, 1.25) translate(-5px, 52px);
}
